.page {
  font-size: 14px;
}

.copy-block {
  min-height: 30px;
  margin-bottom: 20px;
}

.copy-button {
  display: inline-block;
  height: 36px;
  padding: 0 24px;
  font-size: 14px;
  background: #d3d3d3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.copy-button:hover {
  box-shadow: 1px 1px 2px 2px #f1f1f1;
}

.category {
  margin-bottom: 20px;
}

.category__title {
  font-size: 22px;
  margin-bottom: 8px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  margin: 4px;
  margin-left: 0;
  padding: 4px 8px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  cursor: pointer;
}

.card:hover {
  color: #0055a5;
  border-color: #0055a5;
}

.card__img {
  height: 40px;
}
